*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  padding: 133px 30px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;

}

.result {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  inline-size: 711px;

}

.result__video {
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  appearance: none;
}

.search-form__label:hover
  .search-form__pseudo-checkbox 
  ~.search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 3px;
}     

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  min-width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}

/*
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
} */

input[type="checkbox"] + span {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

input[type="checkbox"]:checked + span {
  outline: 1px solid #000;
  outline-offset: -2px;
  background-color: #fff;
}

.search-form__label-text {
  padding-left: 5px;
}

.button {
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: transparent;
  border: 1px solid #fff;
  min-height: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  width: 400px;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.more-button {
  width: 399px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;

}

.content__video-card-description-container {
  overflow: hidden;
  inline-size: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}